<!--Navbar section-->
<div class="navbar">
  <div class="container">
    <a class="navbar-brand" href="#"><strong>LOGO</strong></a>
  </div>
</div>
<!--END OF Navbar section-->

<div class="container">
  <div class="intro-text">
      <h1 class="anton-regular">Welcome to Admin Dashboard!</h1>
  </div>
</div>

<!--site analysis section-->
<div class="container">
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="player">
          <div class="right-side"></div>
          <div class="left-side" style="transform: rotate(189deg)"></div>
          <div class="player-text">37</div>
        </div>
        <p>Unique Visits</p>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="player">
          <div class="right-side-pageviews"></div>
          <div class="left-side" style="transform: rotate(189deg)"></div>
          <div class="player-text">29</div>
        </div>
        <p>Pageviews</p>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="player">
          <div class="right-side-online"></div>
          <div class="left-side" style="transform: rotate(189deg)"></div>
          <div class="player-text">76</div>
        </div>
        <p>Online Now</p>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="player">
          <div class="right-side-logged"></div>
          <div class="left-side" style="transform: rotate(189deg)"></div>
          <div class="player-text">86</div>
        </div>
        <p>Logged In</p>
      </div>
    </div>
  </div>
</div>
<!--END OF site analysis section-->



<script src="./Script.js"></script>
<!--END OF Register Users sections-->