
<h1 class="anton-regular">Add Product</h1>
<div class="max-w-md mx-auto">
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" [(ngModel)]="product.name" name="floating_email" id="floating_email"
            class="bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-white dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Name: " required />

    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" [(ngModel)]="product.barcode" name="floating_password" id="floating_password"
            class="bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-white dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder=" Barcode" required disabled />

    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" [(ngModel)]="product.catagory" name="repeat_password" id="floating_repeat_password"
            class="bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-white dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Catagory" required />
       
    </div>

    <div class="relative z-0 w-full mb-5 group">
        <input type="text" [(ngModel)]="product.size" name="repeat_password" id="floating_repeat_password"
            class="bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-white dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="size " required />
       
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="number" [(ngModel)]="product.qty" name="repeat_password" id="floating_repeat_password"
            class="bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-white dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder=" qty" required />
       
    </div>
    <div class="relative z-0 w-full mb-5 group">
        
        <input type="number" [(ngModel)]="product.unitPrice" name="repeat_password" id="floating_repeat_password"
            class="bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-white dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Unit Price " required />
     
    </div>
    <!-- image-upload.component.html -->
    <div class="container">

        <div class="row">
            <label for="fileInput">Choose an image</label>
        </div>
        <div class="row">
            <input type="file" id="fileInput" (change)="onFileSelected($event)" />
        </div>

        <div *ngIf="imageUrl">

            <img [src]="imageUrl " alt="Uploaded Image" style="max-width: 300px; margin-top: 10px" />

        </div>
    </div>

    <button (click)="addProduct()" type="button" [disabled]="isButtonDisabled"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Submit
    </button>
</div>