<div class="row">
    <div *ngFor="let card of cards"
        class="col-md-4 w-full max-w-sm bg-gradient-to-r from-red-500 via-red-600 to-red-700 border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700 m-4 hover:scale-105 hover:shadow-2xl transform transition duration-300 ease-in-out">
        <div class="flex flex-col items-center pb-10">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg hover:shadow-xl transition duration-300 ease-in-out"
                [src]="card.image_url" [alt]="card.name" />
            <h5 class="mb-1 text-xl font-medium text-white">
                ID: {{ card.id }}
            </h5>
            <h5 class="mb-1 text-xl font-medium text-white">
                Name : {{ card.product_name }}
            </h5>
            <h5 class="text-sm text-white">
                Qty: {{ card.qty }}
            </h5>
        </div>
    </div>
</div>
