<div class="background">
  <video autoplay muted loop class="video">
    <source src="./snow1.mp4" type="video/mp4" class="v"/>
  </video>
  
  <div class="login">
    <div class="login-form">
      <h1 class="fashion-heading">Fashion City</h1>

      <h1>LOGIN</h1>
      <form>
        <input type="text" #username placeholder="UserName"><br><br>
        <input type="password" #password  placeholder="Password"><br><br><br>
        <button (click) ="login(username.value,password.value)">Login</button>
        <button id="btn-forgot_password">Forgot password</button>
      </form>
    </div>
  </div>
</div>