<div class="m-0">
  <div class="row">
    <app-home-navigation></app-home-navigation>
  </div>
  <div class="row">
    <div class="banner">
      <div class="container">
        <app-banner1></app-banner1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="category">
      <div class="container">
        <div class="category-item-container has-scrollbar mt-5">
          <app-most-selling-item-catagory></app-most-selling-item-catagory>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-5">
      <div class="product-minimal ml-1">
        <app-item-table></app-item-table>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="row">
        <app-home-video></app-home-video>
      </div>
      <div class="row">
        <img class="h-auto max-w-full" src="/video4.svg" alt="image description" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <app-sidebar-categry></app-sidebar-categry>
    </div>
    <div class="col md-8"></div>
  </div>
  <div class="row justify-center">
    <div class="col mt-10">
      <app-card-set></app-card-set>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <app-new-items></app-new-items>
  </div>
  <div class="row">
    <app-home-carosel></app-home-carosel>
  </div>

  <div class="row"></div>

  <div class="row mt-5">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <div class="grid gap-4">
        <div>
          <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" alt="" />
        </div>
        <div>
          <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="" />
        </div>
        <div>
          <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="" />
        </div>
      </div>
      <div class="grid gap-4">
        <div>
          <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt="" />
        </div>
        <div>
          <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg" alt="" />
        </div>
        <div>
          <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg" alt="" />
        </div>
      </div>
      <div class="grid gap-4">
        <div>
          <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg" alt="" />
        </div>
        <div>
          <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg" alt="" />
        </div>
        <div>
          <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg" alt="" />
        </div>
      </div>
      <div class="grid gap-4">
        <div>
          <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg" alt="" />
        </div>
        <div>
          <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg" alt="" />
        </div>
        <div>
          <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <app-bottom-navigation></app-bottom-navigation>
    </div>
    <div class="col-md-2">

    </div>
   
  </div>
</div>