<div class="box">

    <span style="--i:1"><img src="./shop1.jpg"></span>
    <span style="--i:2"><img src="./shop1.jpg"></span>
    <span style="--i:3"><img src="./blog-3.jpg"></span>
    <span style="--i:4"><img src="./blog-2.jpg"></span>
    <span style="--i:5"><img src="./download.jpg"></span>
    <span style="--i:6"><img src="./images.jpg"></span>
    <span style="--i:7"><img src="./christmas-sale-text-vector-banner-design-christmas-shopping-discount-promo-offer-santa-claus-character-open-surprise-box-340410227.webp"></span>
    <span style="--i:8"><img src="./blog-1.jpg"></span>
    <span style="--i:9"><img src="./newsletter.png"></span>
    <span style="--i:10"><img src="./blog-4.jpg"></span>
  
  
  
  
  
  </div>
  