<h1 class="anton-regular">View Product</h1>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div
        class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
        <div class="row">
            <div class="col">
                <label for="table-search" class="sr-only">Search</label>
                <div class="relative d-flex">

                    <div class="row flex items-center space-x-4">
                        <div class="col">
                            <input #searchInput type="text" id="table-search-users"
                            class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Search product ">
                        </div>
                        <div class="col">
                            <button (click)="searchProductById((searchInput.value))" type="button"
                            class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">search</button>
                        </div>
                       
                        
                    </div>
        
                </div>

            </div>

        
        </div>
       
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input id="checkbox-all-search" type="checkbox"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Barcode
                </th>
                <th scope="col" class="px-6 py-3">
                    catagory
                </th>
                <th scope="col" class="px-6 py-3">
                    Image
                </th>
                <th scope="col" class="px-6 py-3">
                    Size
                </th>
                <th scope="col" class="px-6 py-3">
                    Qty
                </th>
                <th scope="col" class="px-6 py-3">
                    unitPrice
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productList"
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="checkbox-table-search-1" type="checkbox"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                    </div>
                </td>

                <td class="px-6 py-4">
                    {{product.id}}
                </td>
                <td class="px-6 py-4">
                    {{product.name}}
                </td>
                <td class="px-6 py-4">
                    {{product.barcode}}
                </td>
                <td class="px-6 py-4">
                    {{product.catagory}}
                </td>
                <td class="px-6 py-4">
                    <img [src]="product.imageUrl" alt=" Image" />
                </td>
                <td class="px-6 py-4">
                    {{product.size}}
                </td>
                <td class="px-6 py-4">
                    {{product.qty}}
                </td>
                <td class="px-6 py-4">
                    {{product.unitPrice}}
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Available
                    </div>
                </td>
                <td class="px-6 py-4">
                    <button class="buttonUpdate-pushable" role="button" (click)="searchProductById(product.id)">
                        <span class="buttonUpdate-shadow"></span>
                        <span class="buttonUpdate-edge"></span>
                        <span class="buttonUpdate-front text">
                            update
                        </span>
                    </button>
                    <!-- <button type="button" (click)="searchProductById(product.id)"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">update
                        Data</button> -->
                     <button class="buttonDelete-pushable" role="button" (click)="deleteProduct(product.id)">
                        <span class="buttonDelete-shadow"></span>
                        <span class="buttonDelete-edge"></span>
                        <span class="buttonDelete-front text">
                            Delete
                        </span>
                    </button>
                        <!-- <button (click)="deleteProduct(product.id)" type="button"
                        class=" ml-5 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Delete</button> -->
                </td>
            </tr>

        </tbody>
    </table>
</div>


<!-- Modal -->
<div *ngIf="showModal" class="fixed inset-0 bg-black bg-opacity-30 flex justify-center items-center overflow-y-auto">
    <div class="bg-white rounded-lg shadow-lg p-6 w-100% max-h-[90vh] overflow-y-auto">
        <h2 class="text-lg font-bold mb-4">Search Result</h2>

        <div class="max-w-md mx-auto">
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" #id [(ngModel)]="upateProducts.id" name="floating_email" id="floating_email"
                    class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-white dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="ID:" required disabled />
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" [(ngModel)]="upateProducts.name" name="floating_email" id="floating_email"
                    class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-white dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Name :" required />{{searchResult.name}}
            </div>

            <div class="relative z-0 w-full mb-5 group">
                <input type="text" [(ngModel)]="upateProducts.catagory" name="repeat_password"
                    id="floating_repeat_password"
                    class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-white dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Category:" required />{{searchResult.catagory}}
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <img [src]="searchResult.imageUrl" alt="Uploaded Image" />
                
            </div>

            <div class="row">
                <input type="file" id="fileInput" (change)="onFileSelected($event)" />
            </div>
            <div class="relative z-0 w-full mb-5 group mt-4">
                <input type="number" [(ngModel)]="upateProducts.size" name="repeat_password"
                    id="floating_repeat_password"
                    class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-white dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Size:" required />{{searchResult.size}}
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="number" [(ngModel)]="upateProducts.qty" name="repeat_password"
                    id="floating_repeat_password"
                    class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-white dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Qty:" required />{{searchResult.qty}}
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="number" [(ngModel)]="upateProducts.unitPrice" name="repeat_password"
                    id="floating_repeat_password"
                    class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-white dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Unit Price:" required />{{searchResult.unitPrice}}
            </div>
            <button class="buttonUpdate-pushable" role="button" (click)="upateProduct()">
                <span class="buttonUpdate-shadow"></span>
                <span class="buttonUpdate-edge"></span>
                <span class="buttonUpdate-front text">
                    update
                </span>
            </button>
            <button class="buttonDelete2-pushable" role="button" (click)="deleteProduct(id.value)">
                <span class="buttonDelete2-shadow"></span>
                <span class="buttonDelete2-edge"></span>
                <span class="buttonDelete2-front text">
                    Delete
                </span>
            </button>
            <button class="buttonClose-pushable" role="button" (click)="closeModal()">
                <span class="buttonClose-shadow"></span>
                <span class="buttonClose-edge"></span>
                <span class="buttonClose-front text">
                    Close
                </span>
            </button>

            <!-- <button (click)="upateProduct()" type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update</button>
            <button (click)="deleteProduct(id.value)" type="button"
                class="ml-5 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Delete</button> -->
        </div>

        <!-- <button (click)="closeModal()"
            class="mt-4 px-4 py-2 text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-2 focus:ring-red-500">
            Close
        </button> -->
    </div>
</div>
