<div class="category">

 

    <div class="category-item-container has-scrollbar">

      <div class="row">

        <div class="col-md-2">
          <div class="category-item">

            <div class="category-img-box">
              <img src="./assets/images/icons/dress.svg" alt="dress & frock" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Dress & frock</h3>

               
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div>
        </div>


        <div class="col-md-2">

          <div class="category-item">

            <div class="category-img-box">
              <img src="./assets/images/icons/shorts.svg" alt="shorts & jeans" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Shorts & jeans</h3>
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div>

        </div>


        <div class="col-md-2">

          <div class="category-item">

            <div class="category-img-box">
              <img src="./assets/images/icons/tee.svg" alt="t-shirts" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">T-shirts</h3>

               
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div>
        </div>
        <div class="col-md-2">
          <div class="category-item">

            <div class="category-img-box">
              <img src="./assets/images/icons/jacket.svg" alt="jacket" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Jacket</h3>

                
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div>
        </div>

        <div class="col-md-2">

          <div class="category-item">

            <div class="category-img-box">
              <img src="./assets/images/icons/watch.svg" alt="watch" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Watch</h3>

               
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div>
        </div>
        <div class="col-md-2">

          <div class="category-item">

            <div class="category-img-box">
              <img src="./assets/images/icons/hat.svg" alt="hat & caps" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Hat & caps</h3>

               
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div>
        </div>

      </div>

    </div>

</div>