<div class="relative overflow-x-auto shadow-md sm:rounded-lg fixed-height-table">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 w-10">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Product</th>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Available Qty</th>
        <th scope="col" class="px-6 py-3">Price</th>
        <th scope="col" class="px-6 py-3">Buy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of paginatedProducts" class="itemRow">
        <td class="px-6 py-4">
          <img width="45%" height="10" [src]="product.imageUrl" alt="Image" />
        </td>
        <td>{{ product.name }}</td>
        <td class="px-6 py-4">
          <div class="flex items-center">
            <input type="number" [(ngModel)]="product.qty"
              class="bg-gray-50 w-14 border text-gray-900 text-sm rounded-lg px-2.5 py-1"
              placeholder="1" disabled />
          </div>
        </td>
        <td class="px-6 py-4">{{ product.unitPrice }}</td>
        <td class="px-6 py-4">
          <button type="button" (click)="addtoCart(product)"
            class="text-white bg-gradient-to-r from-purple-500 to-pink-500 px-5 py-2.5">Buy Now</button>
        </td>
      </tr>
      <!-- Render empty rows -->
  <tr *ngFor="let _ of emptyRows">
    <td class="px-6 py-4" colspan="5">&nbsp;</td>
  </tr>
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <div class="pagination-controls mt-4 flex justify-center items-center">
    <button *ngFor="let page of [].constructor(totalPages); let i = index" 
      class="px-3 py-1 mx-1 border rounded-lg"
      [class.bg-blue-500]="currentPage === i + 1"
      [class.text-white]="currentPage === i + 1"
      (click)="goToPage(i + 1)">
      {{ i + 1 }}
    </button>
  </div>
</div>
